/* 

Idea for swipe style:

https://dribbble.com/shots/7164639-Interactive-restaurant-recommendations-app

*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
  --background:#282525;
  --foreground:#DBDED8;
  --background-2:#000000;
  --highlight:#D6392E;
  --header-height: 1.5em;
  --max-width: 640px;
}

body {
  background: var(--background);
  font-size: 16px;
  color: var(--foreground);
  font-family: 'helvetica-neu', sans-serif;  
  font-weight: 400;
  max-width: var(--max-width);
  min-width: 320px;
  margin: auto;
}
/* make it accessible */
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

header {
  padding: 1em 0 0 2em;
  overflow: auto;
}

header div.page-title {
    width: calc(100% - 12em);
}

header h1 {
  margin: 0;
  letter-spacing: 0.0875em;
  font-weight: 400;
  text-shadow: 0.125em 0.125em 0.0625em var(--background-2);
  color: var(--foreground);
  font-size: var(--header-height);
  font-family: 'Bangers', cursive;
}

header nav {
  float: right;
}

header ul {
  margin: 0;
  padding: 0 1em;
  list-style-type: none;
}

header ul::after {
  clear: both;
}

header li {
  float: right;
  margin: 0 1em;
}

header > * {
  float: left;
}

header::after {
  clear: both;
}

main {
  margin-top: 1em;
  background: var(--background-2);
  min-height: 5em;
}

article section, article footer {
  padding: 1em 0 2em;
}

p.description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis ellipsis;
}

/* ratings */

form.thumbs-rating label {
  display: inline-block;
}

form.thumbs-rating fieldset {
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
}

form.thumbs-rating fieldset::after {
  clear: both;
}

.thumbs-up, .thumbs-down {
 background-size: 100%;
 height: var(--header-height);
 width: var(--header-height);
 display: block;
}

.thumbs-down {
  background-image: url("./assets/icons/thumb-down-fill.png");
}

.thumbs-up {
  background-image: url("./assets/icons/thumb-up-fill.png");
}

/* thumbnail */



/* mobile */